@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500&family=Quicksand:wght@400;500;600;700&family=Rubik:ital,wght@0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover:wght@400&family=Meera+Inimai:wght@400&family=Inconsolata:wght@600&family=Imprima:wght@400&family=Font+Awesome+5+Brands:wght@400&family=Lemonada:wght@400&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --color-light-blue: #A7CECB;
  --color-cadet-gray: #8BA6A9;
  --color-cadet-dark-gray: #5b6d6f;
  --color-raseda-green: #75704E;
  --color-sage: #CACC90;
  --color-lemon-chiffon: #F4EBBE;
  --font-imprima: 'Imprima';
  --font-inconsolata: 'Inconsolata';
  --font-irish-grover: 'Irish Grover';
  --font-meera-inimai: 'Meera Inimai';
  --font-lemonada: 'Lemonada';
  --color-dark: #232222;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', 'Quicksand', 'Noto Sans', sans-serif;
  background-color: var(--color-moonstone);
  color: var(--color-honeydew);
}

.title-container {
  border-radius: 8px;
  box-shadow: 10px 10px 40px -1px rgba(0,0,0,0.5);
  background-color: var(--color-light-blue);
}

h1 {
  color: var(--color-raseda-green);
  font-family: var(--font-irish-grover);
  font-size: 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

p {
  font-size: 1.3rem;
}

main {
  background-image: url(./images/city/img2_qjicir_c_scale\,w_1000.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background:black;
  background:rgba(0,0,0,0.4);
  z-index: 0;
}

.game-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 1rem;
  background:rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#game-form {
  display: block;
  background-color: var(--color-light-blue);
  padding: 1rem;
  border-radius: 12px;
}

#game-form h2 {
  color: var(--color-raseda-green);
  text-align: center;
  font-family: var(--font-irish-grover);
  font-size: 2rem;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

input:focus {
  outline: none;
  border-style: groove;
  box-shadow: 0px 0px 10px rgba(66,66,66,.70);
}

button {
  background-color: var(--color-cadet-gray);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: var(--color-cadet-dark-gray);
}

.playerinfo-container {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  font-family: var(--font-noto-sans);
  font-size: 1.3rem;
  color: var(--color-sage);
  margin-top: 3rem;
  align-items: center;
}

.btn-container {
  display: flex;
}

#vs {
  font-size: 3rem;
  color: var(--color-sage);
  font-family: var(--font-irish-grover);
}

.player-container {
  background-color: var(--color-honeydew);
  padding: 1rem;
  border-radius: 1rem;
}

.player-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player-container div h2 {
  font-size: 2.5rem;
}

#player1-score, #player2-score {
  font-size: 1.5rem;
}

.gamecontrol {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  background: var(--color-sage);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: var(--color-dark);
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
  border: solid 1px;
}

.btn:hover {
  background: var(--color-raseda-green);
  text-decoration: none;
}

.info-container {
  margin-top: 3rem;
  width: 30vw;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: #232222 solid 1px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-cadet-gray);
  position: relative;
}

.banner {
  background-color: var(--color-light-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner p {
  margin: .5rem;
  font-size: .85rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  height: 350px;
  overflow: auto;
}

.message-container span {
  font-size: 1rem;
  margin: .2rem 0 .2rem 0;
}

.message-container::-webkit-scrollbar {
  display: none;
}

.profile-img {
  position: relative;
  top: 5px;
  width: 30px;
}

.dice {
  background-color: white;
  opacity: 50%;
  width: 20%;
}